header.bg-indigo-500.p-4.shadow-lg
    .container.mx-auto.flex.justify-between.items-center
        h1.text-3xl.text-white.font-extrabold.text-center Bienes
            span.font-normal Raices

        nav(class="my-5 text-lg md:flex md:items-center font-bold md:gap-6 text-white")
            a(href="") Mis Propiedades 
            a(href="") Mi Perfil 
            a(class="bg-indigo-800 py-1 px-8 rounded-xl shadow-lg" href="") Cerrar Sesión 