header.bg-indigo-500.p-3.shadow-lg
    .container.mx-auto.flex.justify-between.items-center
        a(href="/")
            h1.text-3xl.text-white.font-extrabold.text-center Bienes
                span.font-normal Raices


        nav(class="my-5 text-lg md:flex md:items-center font-bold md:gap-6 text-white")
            a(href="/mis-propiedades" class="hidden md:block") Mis Propiedades 
            a(href="" class="hidden md:block") Mi Perfil 

            form(action="/auth/cerrar-sesion" method="POST")
                input(type="hidden" name="_csrf" value= csrfToken)
                input(type="submit" class="bg-indigo-800 py-1 px-8 rounded-xl shadow-lg" value="Cerrar Sesión")
